@font-face{font-family:ff3;src:url('https://s3-ap-southeast-1.amazonaws.com/font-static/ff3.woff')format("woff");}
@font-face{font-family:ff4;src:url('https://s3-ap-southeast-1.amazonaws.com/font-static/ff4.woff')format("woff");}
@font-face{font-family:ff7;src:url('https://s3-ap-southeast-1.amazonaws.com/font-static/ff7.woff')format("woff");}